:root {
  --register-back: #232323;
}

#loginButton {
  -fx-background-color: #00ff00;
  -fx-background-radius: 100;
}

#loginButton:hover {
  -fx-background-color: #77ff00;
}

.menuButton {
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.menuButton:hover {
  -fx-background-color: #00000015;
}

.backRegister {
  -fx-background-color: #232323;
}

.menuTopBar {
  -fx-background-color: #0094d4;
}
