:root {
  --register-back: #232323;
}

.importantButton {
  -fx-background-color: #0efc79;
  -fx-background-radius: 100;
  -fx-text-fill: black;
}

.importantButton:hover {
  -fx-background-color: #0efc79d5;
}

.menuButton {
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.menuButton:hover {
  -fx-background-color: #00000015;
}

.backRegister {
  -fx-background-color: #232323;
}

.registerButton{
  -fx-background-color: white;
  -fx-background-radius: 100;
}

.registerButton:hover {
  -fx-background-color: #ffffffbe;
}
